LOCAL_DB=InsertLocalConnectionString
PEER_DB=InsertPeersConnectionString
LOCAL_HOUSE=InsertYourName
PEER_HOUSE=InsertPeersName
LOCAL_TOPIC_SUBSTRING=Insert
PEER_TOPIC_SUBSTRING=Insert
LOCAL_TABLE_NAME=Insert
PEER_TABLE_NAME=Insert